{% extends'::admin.html.twig' %}

{% block body %}
    <style>
        /*.dt-buttons{
            display: none!important;
        }*/
    </style>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $table1 = jQuery('#table-1');
// Initialize DataTable
            $table1.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true,
                dom: 'lBfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
// Initalize Select Dropdown after DataTables is created
            $table1.closest('.dataTables_wrapper').find('select').select2({
                minimumResultsForSearch: -1
            });
        });
    </script>
    <h4 style="padding: 10px 0px;">Sub Admin</h4> <span><a href="{{ path('admin_subadmin_insert') }}" class="btn btn-info">Add Sub Admin</a></span>

    <table class="table table-bordered datatable" id="table-1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in SubAdmin %}
            <tr class="odd gradeX">
                <td> &nbsp; {{ item.name }}</td>
                <td> &nbsp; {{ item.phone }}</td>
                <td> &nbsp; {{ item.password }}</td>
                <td class="col-md-3">
                    <a href="{{ path('admin_subadmin_update',{id:item.id}) }}" class="btn btn-default btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i>Edit</a>
                    {% if item.block == 1 %}
                        <a href="{{ path('admin_subadmin_block',{id:item.id}) }}" class="btn btn-info btn-sm btn-icon icon-left"> <i class="entypo-unlock"></i>Unblock</a>
                    {% else %}
                        <a href="{{ path('admin_subadmin_block',{id:item.id}) }}" class="btn btn-danger btn-sm btn-icon icon-left"> <i class="entypo-lock"></i>Block</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>


{% endblock %}